<h1>All the Users</h1>

<table border="2">
    <tr>
        <th>Name</th>
	<th>Age</th>
    </tr>

    <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
	    <td><%= user.age %></td>
	</tr>
    <% end %>
</table>

<p>
<%= link_to "Return to Index", root_path %>
</p>